#about {
  display: flex;
  flex-flow: column;
  align-items: center
}

#about div p {
  margin-right: 3em;
  margin-left: 3em;
  
}

.typewriter {
  font-family: Courier, monospace;
  display: block;
}

.typewriter-text p:nth-child(1){
  display: block;
  overflow: hidden;
  letter-spacing: 2px;
  animation: typing 5s steps(30, end), blink .75s step-end infinite;
  white-space: nowrap;
  font-size: 15px;
  font-weight: 700;
  border-right: 4px solid orange;
  box-sizing: border-box;
}

.typewriter-text p:nth-child(2){
  display: block;
  overflow: hidden;
  letter-spacing: 2px;
  animation: typing 5s steps(30, end), blink .75s step-end infinite;
  white-space: nowrap;
  font-size: 15px;
  font-weight: 700;
  border-right: 4px solid orange;
  box-sizing: border-box;
}

@keyframes typing {
  from { 
      width: 0% 
  }
  to { 
      width: 50% 
  }
}

@keyframes blink {
  from, to { 
      border-color: transparent 
  }
  50% { 
      border-color: orange; 
  }
}
